[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
python-multipart = "*"
openai = "*"
sqlalchemy = "*"
psycopg2 = "*"
google-cloud-storage = "*"
googlemaps = "*"
python-dotenv = "*"
pytest = "*"
httpx = "*"
trio = "*"

[dev-packages]

[requires]
python_version = "3.12"
